:root {
  --color-primary: #687ded;
  --color-secondary: #14234b;
  --color-headings: #2d3a58; /*color for grey headings*/
  --color-body-bold: #4a4949;
  --color-body-light: rgb(113, 113, 113); /*classical paragraph*/
}

/*Typography*/
html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body-light);
  font-size: 1.8rem;
  line-height: 1.4; /*1.3 the current font-size*/
}

h1,
h2,
h3,
h4 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}
h1 {
  font-size: 9rem;
}
h2 {
  font-size: 7rem;
}
h3 {
  font-size: 5rem;
}
h4 {
  font-size: 2.3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 6rem;
  }
  h3 {
    font-size: 4rem;
  }
  h4 {
    font-size: 2.1rem;
  }
}

/*Link*/

a {
  text-decoration: none;
}

.purple {
  color: var(--color-primary);
}

.dark-blue {
  color: var(--color-secondary);
  font-weight: bold;
}

/*Badges*/
.badge {
  background: lightgrey;
  border-radius: 15px;
  font-weight: 400;
  padding: 0.5rem 1rem;
  white-space: nowrap;
}

.badge--green {
  background: #21af5a;
  color: white;
}

.badge--small {
  font-size: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .badge--small {
    font-size: 1.1rem;
  }
}

/*Lists*/
.list {
  list-style: none;
  padding-left: 0;
  font-weight: 500;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2.5rem;
}

/*Icons*/

.icon {
  width: 40px;
  height: 40px;
}

.icon-container .icon {
  fill: white;
}

.icon-container {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.icon-pinterest {
  background: #ea0000;
}
.icon-google {
  background: #ff5b25;
}
.icon-instagram {
  background: #21af5a;
}
.icon-website {
  background: #687ded;
}
