:root {
  --color-primary: #687ded;
  --color-secondary: #14234b;
  --color-headings: #2d3a58; /*color for grey headings*/
  --color-body-bold: #4a4949;
  --color-body-light: rgb(113, 113, 113); /*classical paragraph*/
  --color-border: #ccc;
  --color-media: #f0f5ff;
  --border-radius-input: 5px;
  --width-input-group: 70vw;
  --container-max-width: 1200px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/*Typography*/
html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body-light);
  font-size: 1.8rem;
  line-height: 1.4; /*1.3 the current font-size*/
}

h1,
h2,
h3,
h4 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}
h1 {
  font-size: 9rem;
}
h2 {
  font-size: 7rem;
}
h3 {
  font-size: 5rem;
}
h4 {
  font-size: 2.3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 6rem;
  }
  h3 {
    font-size: 4rem;
  }
  h4 {
    font-size: 2.1rem;
  }
}

/*Link*/

a {
  text-decoration: none;
}

.purple {
  color: var(--color-primary);
}

.dark-blue {
  color: var(--color-secondary);
  font-weight: bold;
}

/*Badges*/
.badge {
  background: lightgrey;
  border-radius: 15px;
  font-weight: 400;
  padding: 0.5rem 1rem;
  white-space: nowrap;
}

.badge--green {
  background: #21af5a;
  color: white;
}

.badge--small {
  font-size: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .badge--small {
    font-size: 1.1rem;
  }
}

/*Lists*/
.list {
  list-style: none;
  padding-left: 0;
  font-weight: 500;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2.5rem;
}

/*Line-list inside plans*/
.list__line {
  display: flex;
  align-items: center;
}

/*Icons*/

.icon {
  width: 40px;
  height: 40px;
}

.icon-container .icon {
  fill: white;
}

.icon-container {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.icon-pinterest {
  background: #ea0000;
}
.icon-google {
  background: #ff5b25;
}
.icon-instagram {
  background: #21af5a;
}
.icon-website {
  background: #687ded;
}
.icon-search {
  /*for input group of search bar*/
  background: lightgray;
}
.icon-search svg {
  width: 20px;
  height: 20px;
}

/*button*/

.button {
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin: 1rem;
  padding: 1.7rem 2rem;
  white-space: nowrap;
  text-align: center;
}

.button--outline {
  /*With an outline button, the color is black*/
  /*here structure and skin are in the same place because I consider there is not
  outline button without logo and badge*/
  height: 70px;
  border: 1px solid lightgray;
  font-weight: 300;
  color: black;
  background: white;
  transition: color 0.5s ease-in-out;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button--outline > p,
span {
  padding: 0 5px;
}

.button--outline:hover {
  /*not working, dont know why. Try it with javascript if needed*/
  color: rgb(0, 187, 255);
}

.button--outline svg {
  width: 20px;
  height: 20px;
}

.button--outline p {
  margin: 1rem auto;
}

.button--blue {
  background: var(--color-primary);
  color: white;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.button--white {
  background: white;
  color: var(--color-secondary);
  transition: color 0.5s ease-in-out;
}

.button--dark {
  background: var(--color-secondary);
  color: white;
  transition: background 0.5s ease-in-out;
}

.button--blue:hover {
  opacity: 0.9;
}

.button--white:hover {
  color: var(--color-primary);
}

.button--dark:hover {
  background: var(--color-primary);
  color: white;
}

.button--adaptable {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .button {
    font-size: 1.7rem;
  }

  .button--outline {
    height: 50px;

    font-size: 1.2rem;
  }
}

/*Input*/
.input {
  padding: 1.4rem 1.2rem;
  font-size: 1.4rem;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-input);
  outline: none;
  color: var(--color-body-bold);
}
::placeholder {
  color: #cdcbd7;
}

.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-input);
  display: flex;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
}

.input-group .icon-container {
  width: 60px;
  height: 60px;
  border-radius: var(--border-radius-input);
}

.input-group .button {
  margin: 0.4rem;
  border-radius: var(--border-radius-input);
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.2rem;
  }
}

/*Button-group*/
.button-group {
  --button-group-padding: 3rem;
  display: flex;
  padding-left: calc(var(--button-group-padding) - 1rem);
  padding-top: var(--button-group-padding);
  padding-bottom: 0;
  padding-right: calc(var(--button-group-padding) - 1rem);
  overflow: hidden;
}

.button-group .button {
  margin: 0;
  height: 45px;
  font-size: 1.5rem;
  border-radius: 0px;
  box-shadow: 1px 1px 15px 3px var(--color-primary);
}

/*Javascript : also change z index of the previous rule, see: button-input-group.js*/
.button--outline {
  z-index: 1;
}

.input-group {
  margin-top: -2px;
}

@media screen and (min-width: 1024px) {
  .button-group .button {
    font-size: 1.3rem;
  }
}

/*container*/
.container {
  max-width: var(--container-max-width); /*1200px normally*/
  margin: auto;
}

/*Plans*/

.plan {
  border-radius: 20px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  padding: 5rem;
}

.plan__header {
  text-align: center;
}
.plan__price {
  display: flex;
  justify-content: center;
}
.plan__currency {
  font-size: 2rem;
  color: var(--color-primary);
}

.plan .plan__amount {
  font-size: 8rem;
}

.plan .button {
  white-space: initial;
  margin-left: 0rem;
}

.plan .plan__price {
  margin-top: 1rem;
}

.plan .list {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.plan .list__line {
  margin-bottom: 1rem;
}

.plan .list__line--logo {
  padding-top: 12px;
}

.plan .list__line--content {
  padding-left: 1rem;
}

.plan--middle .plan__heading {
  background-image: url(../images/background-img-marianne-bg_left.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media screen and (min-width: 1024px) {
  .plan .plan__amount {
    font-size: 6rem;
  }
}

/*media*/

.media {
  border-radius: 30px;
  padding: 3rem;
}

.media--heading {
  /*change the margin upside h2*/
  margin-top: 2rem;
  line-height: 6.3rem;
}

.media--line {
  display: inline-block;
  width: 100%;
  border: 0.5px solid rgba(211, 211, 211, 0.701);
  margin: 2rem 0 3rem 0;
}

.media__text .icon {
  width: 20px;
  height: 20px;
  color: var(--color-headings);
}

.media p,
span {
  color: var(--color-headings);
}

@media screen and (min-width: 1024px) {
  .media p,
  span {
    font-size: 1.6rem;
  }
}

/*Here for small-media*/
/*small-media to be used separately*/
.small-media {
  padding: 2rem;
  display: flex;
  border-radius: 10px;
  width: 100%;
  background: white;
  box-shadow: 12px 12px 1px 1px rgba(0, 0, 255, 0.2);
}

.small-media .media--heading {
  margin-top: 0rem;
  line-height: 3rem;
}

.small-media .media__text {
  padding-left: 2rem;
}

.small-media span,
p {
  color: var(--color-body-bold);
  line-height: initial;
}

/*small-media-center*/
.small-media.small-media-center {
  text-align: center;
  flex-direction: column;
}

.small-media .media__text {
  padding: 1rem 0 0 2rem;
}

/*media-testimonial*/

.media-testimonial {
  padding: 2rem;
  border-radius: 10px;
}

.media-testimonial p {
  margin-bottom: 1rem;
}

.media-testimonial .media__text {
  padding: 0rem 2rem;
}

.testimonial__description {
  display: flex;
  align-items: center;
}

.testimonial--text {
  padding: 1rem;
  margin-bottom: 0;
}

.testimonial__content .icon {
  direction: rtl;
  margin-right: 1rem;
}

.testimonial__quote {
  display: flex;
}
.blank-block {
  flex-grow: 1;
}

@media screen and (min-width: 1024px) {
  .testimonial--text {
    font-size: 1.7rem;
  }
}
/*
.testimonial--text::after {
  content: url(../images/check.svg);
  
}*/

/*collapsible*/

.collapsible {
  color: white;
}

.collapsible__heading {
  color: white;
}

.collapsible__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapsible__heading {
  margin-top: 0;
}

.collapsible__heading::before {
  content: "--> ";
}

.collapsible--chevron {
  color: var(--color-border);
  width: 50px;
  height: 50px;
  transform: rotate(0deg);
  transition: transform 0.5s;
}

.collapsible--expanded .collapsible--chevron {
  transform: rotate(90deg);
}

.collapsible__content {
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}

.collapsible__content a {
  color: white;
  line-height: 4rem;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
}

/*GRIDS*/ /*for footer grid, see footer part*/
.grid {
  display: grid;
  align-items: start;
  gap: 3rem;
  justify-items: center;
}

.media-template {
  /*only avalaible for media-section.html*/
  grid-template-areas: "left right";
}

.grid--1x2 {
  grid-template-columns: 1fr;
}

/*
.grid--2x3 {
  grid-template-columns: 1fr;
}*/

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 900px) {
  .grid--2x3 {
    grid-template: repeat(2, 1fr) / 30% 1fr 1fr;
  }
}

.image-media {
  grid-row: 1 / span 2;
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*nav*/
.nav a {
  color: var(--color-headings);
}

.nav--logo {
  height: 80px;
  margin-left: 1rem;
}

.nav .collapsible--chevron {
  padding-right: 1rem;
}

@media screen and (min-width: 1024px) {
  .nav {
    display: flex;
    justify-content: space-around;
  }

  .nav .collapsible--chevron {
    display: none;
  }

  .nav li {
    padding-top: 0.5rem;
    display: inline-block;
    margin-right: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .nav li {
    text-align: center;
  }

  .nav.collapsible .collapsible__content {
    overflow: hidden;
  }

  .nav .collapsible {
    position: relative;
  }

  .nav .sign-in {
    position: absolute;
    top: 4px;
    right: 55px;
  }
}

/*input-container*/
.one {
  position: relative;
  background: #f0f5ff;
  height: 40vh;
}

.two {
  background: #21af5a;
}

.three {
  padding: 5rem 2rem;
  border-radius: 20px;
  box-shadow: 12px 12px 3px 5px rgba(0, 0, 255, 0.2); /*HVFE color*/
  position: absolute;
  top: 150px;
  left: calc(50vw - 470px); /*for 6 buttons*/
  width: fit-content;
  background: white;
}

.arrow {
  display: none;
}

.first-arrow {
  position: absolute;
  top: calc(5.2rem + var(--button-group-padding));
  left: calc(var(--button-group-padding) - 1.5rem);
  z-index: 99;
}

.second-arrow {
  position: absolute;
  top: calc(5.2rem + var(--button-group-padding));
  right: calc(50vw - 0.685 * var(--width-input-group));
  z-index: 99;
}

@media screen and (max-width: 1024px) {
  .three {
    width: var(--width-input-group);
    left: calc(50vw - 0.5 * var(--width-input-group));
    overflow: hidden;
  }

  .arrow {
    display: initial;
  }

  .button-group {
    padding-left: 0rem;
    /*border-left: 2px solid white;*/
  }
}

/*side-container*/

.block-media {
  background: var(--color-media);
}

.media-section {
  --media-section-article-padding: 5rem;

  height: fit-content;
  padding: 15rem 2rem;
}

.media-section article {
  margin-bottom: var(--media-section-article-padding);
}

.media-section .media {
  background: white;
}

.media-section__image img,
source {
  width: 100%;
}

.media-article {
  /*concerning grids*/
  grid-area: right;
}

.sticky {
  /*sticky rule defined*/
  position: sticky;
  top: 0rem;
  left: 0.9rem;
}

.media-article img,
source {
  width: 100%;
  padding-bottom: var(--media-section-article-padding);
}

@media screen and (min-width: 768px) {
  .to-hide {
    display: none;
  }
}

/*small-media-section (where there is image and 4 media (just under the bar search*/

.small-media-block {
  background: turquoise;
  padding: 30rem 3rem 10rem;
}

.small-media-section .grid {
  align-items: center;
}

/*footer*/
.footer-block {
  padding: 2rem;
  background: black;
}

.footer-block svg {
  width: 100%;
  margin-left: 2rem;
}

.footer-block p {
  margin-top: 2rem;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

.footer-block__item {
  white-space: nowrap;
}

.footer-block__item a,
header {
  color: white;
  line-height: 4rem;
}

.footer-block__item header::before {
  content: url(../images/check.svg);
}

@media screen and (min-width: 800px) {
  .grid--1x4 {
    grid-template: 1fr / 25vw 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .grid--1x4 {
    justify-items: start;
    grid-template: auto 1fr 0.8fr / repeat(2, 1fr);
    grid-template-areas:
      "header header"
      "menu menu"
      "menu menu";
  }

  .footer-block .collapsible__header {
    grid-area: header;
    justify-self: center;
    height: 4rem;
  }
}
