:root {
  --color-primary: #687ded;
  --color-secondary: #14234b;
  --color-headings: #2d3a58; /*color for grey headings*/
  --color-body-bold: #4a4949;
  --color-body-light: rgb(113, 113, 113); /*classical paragraph*/
  --color-border: #ccc;
  --border-radius-input: 5px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/*Typography*/
html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body-light);
  font-size: 1.8rem;
  line-height: 1.4; /*1.3 the current font-size*/
}

h1,
h2,
h3,
h4 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}
h1 {
  font-size: 9rem;
}
h2 {
  font-size: 7rem;
}
h3 {
  font-size: 5rem;
}
h4 {
  font-size: 2.3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 6rem;
  }
  h3 {
    font-size: 4rem;
  }
  h4 {
    font-size: 2.1rem;
  }
}

/*Link*/

a {
  text-decoration: none;
}

.purple {
  color: var(--color-primary);
}

.dark-blue {
  color: var(--color-secondary);
  font-weight: bold;
}

/*Badges*/
.badge {
  background: lightgrey;
  border-radius: 15px;
  font-weight: 400;
  padding: 0.5rem 1rem;
  white-space: nowrap;
}

.badge--green {
  background: #21af5a;
  color: white;
}

.badge--small {
  font-size: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .badge--small {
    font-size: 1.1rem;
  }
}

/*Lists*/
.list {
  list-style: none;
  padding-left: 0;
  font-weight: 500;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2.5rem;
}

/*Line-list inside plans*/
.list__line {
  display: flex;
  align-items: center;
}

/*Icons*/

.icon {
  width: 40px;
  height: 40px;
}

.icon-container .icon {
  fill: white;
}

.icon-container {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.icon-pinterest {
  background: #ea0000;
}
.icon-google {
  background: #ff5b25;
}
.icon-instagram {
  background: #21af5a;
}
.icon-website {
  background: #687ded;
}
.icon-search {
  /*for input group of search bar*/
  background: lightgray;
}
.icon-search svg {
  width: 20px;
  height: 20px;
}

/*button*/

.button {
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin: 1rem;
  padding: 1.7rem 2rem;
  white-space: nowrap;
  text-align: center;
}

.button--outline {
  /*With an outline button, the color is black*/
  /*here structure and skin are in the same place because I consider there is not
  outline button without logo and badge*/
  height: 70px;
  border: 1px solid lightgray;
  font-weight: 300;
  color: black;
  background: white;
  transition: color 0.5s ease-in-out;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button--outline > p,
span {
  padding: 0 5px;
}

.button--outline:hover {
  color: rgb(0, 187, 255);
}

.button--outline svg {
  width: 20px;
  height: 20px;
}

.button--outline p {
  margin: 1rem auto;
}

.button--blue {
  background: var(--color-primary);
  color: white;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.button--white {
  background: white;
  color: var(--color-secondary);
  transition: color 0.5s ease-in-out;
}

.button--dark {
  background: var(--color-secondary);
  color: white;
  transition: background 0.5s ease-in-out;
}

.button--blue:hover {
  opacity: 0.9;
}

.button--white:hover {
  color: var(--color-primary);
}

.button--dark:hover {
  background: var(--color-primary);
  color: white;
}

.button--adaptable {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .button {
    font-size: 1.7rem;
  }

  .button--outline {
    height: 50px;

    font-size: 1.2rem;
  }
}

/*Input*/
.input {
  padding: 1.4rem 1.2rem;
  font-size: 1.4rem;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-input);
  outline: none;
  color: var(--color-body-bold);
}
::placeholder {
  color: #cdcbd7;
}

.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-input);
  display: flex;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
}

.input-group .icon-container {
  width: 60px;
  height: 60px;
  border-radius: var(--border-radius-input);
}

.input-group .button {
  margin: 0.4rem;
  border-radius: var(--border-radius-input);
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.2rem;
  }
}

/*Button-group*/
.button-group {
  display: flex;
}
.button-group .button {
  margin: 0;
  height: 45px;
  font-size: 1.5rem;
  border-radius: 0px;
  box-shadow: 1px 1px 15px 3px var(--color-primary);
}

/*Javascript : also change z index of the previous rule, see: button-input-group.js*/
.button--outline {
  z-index: 1;
}

.input-group {
  margin-top: -2px;
}

@media screen and (min-width: 1024px) {
  .button-group .button {
    font-size: 1.3rem;
  }
}

/*Plans*/

.plan {
  border-radius: 20px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  padding: 5rem;
}

.plan__header {
  text-align: center;
}
.plan__price {
  display: flex;
  justify-content: center;
}
.plan__currency {
  font-size: 2rem;
  color: var(--color-primary);
}

.plan .plan__amount {
  font-size: 8rem;
}

.plan .button {
  white-space: initial;
  margin-left: 0rem;
}

.plan .plan__price {
  margin-top: 1rem;
}

.plan .list {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.plan .list__line {
  margin-bottom: 1rem;
}

.plan .list__line--logo {
  padding-top: 12px;
}

.plan .list__line--content {
  padding-left: 1rem;
}

.plan--middle .plan__heading {
  background-image: url(../images/background-img-marianne-bg_left.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media screen and (min-width: 1024px) {
  .plan .plan__amount {
    font-size: 6rem;
  }
}
