<!--CLASSICAL button, button--blue/white/dark, button--adaptable-->

<a class="button button--dark" href="#">Anch here</a>

<!--the div's' only for previewing and testing adaptable-->
<div style="background-color: yellowgreen">
  <div style="width: 400px">
    <button class="button button--white button--adaptable" href="#">
      Butt here
    </button>
    <a class="button button--blue button--adaptable" href="#">Anchor here</a>
  </div>
</div>

<!-- FOR INPUT GROUP, button, button--outline, possible to add the badges : badge--green-->
<a class="button button--outline" href="#"
  ><svg class="icon">
    <use xlink:href="images/sprite2.svg#logo-google-black"></use>
  </svg>
  <p>Anch</p>
  <span class="badge badge--green badge--small">bulk</span></a
>

<button class="button button--outline">
  <svg class="icon">
    <use xlink:href="images/sprite2.svg#logo-google-black"></use>
  </svg>
  <p>Google</p>
  <span class="badge badge--green badge--small">bulk</span>
</button>

<button class="button button--outline">
  <svg class="icon">
    <use xlink:href="images/sprite2.svg#logo-insta-black"></use>
  </svg>
  <p>Instagram</p>
</button>

<a class="button button--outline" href="#"
  ><svg class="icon">
    <use xlink:href="images/sprite2.svg#logo-pinterest-black"></use>
  </svg>
  <p>Anch</p>
  <span class="badge badge--green badge--small">bulk</span></a
>
