<!--the button-group-->
<div class="button-group">
  <button class="button button--outline">
    <svg class="icon">
      <use xlink:href="images/sprite2.svg#logo-google-black"></use>
    </svg>
    <p>Google</p>
    <span class="badge badge--green badge--small">bulk</span>
  </button>

  <!--here with the class 'test' (to be implemented in javascript and put :
    1 : all the non selected in z-index 1 (>with the class : 'test'), the selected in
  2: show a specific placeholder linked to the selected button-->

  <button class="button button--outline test">
    <svg class="icon">
      <use xlink:href="images/sprite2.svg#logo-insta-black"></use>
    </svg>
    <p>Instagram</p>
  </button>

  <a class="button button--outline" href="#"
    ><svg class="icon">
      <use xlink:href="images/sprite2.svg#logo-pinterest-black"></use>
    </svg>
    <p>Anch</p>
    <span class="badge badge--green badge--small">bulk</span></a
  >

  <button class="button button--outline">
    <svg class="icon">
      <use xlink:href="images/sprite2.svg#logo-google-black"></use>
    </svg>
    <p>Google</p>
    <span class="badge badge--green badge--small">bulk</span>
  </button>
</div>

<!--the input-group-->
<div class="input-group">
  <input
    class="input"
    type="text"
    placeholder="https://pinterest.jp/pin/1242688353682/"
  />
  <span class="icon-container icon-search">
    <svg class="icon">
      <use xlink:href="images/sprite2.svg#logo-insta-black"></use>
    </svg>
  </span>
</div>
