<!--inline style to be removed-->
<div style="background-color: black" class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h4 class="collapsible__heading">Company</h4>
    <svg class="collapsible--chevron">
      <use xlink:href="images/sprite-4-button.svg#button-circle-round"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    <ul class="list">
      <li><a href="#">About</a></li>
      <li><a href="#">Contact us</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">API</a></li>
    </ul>
  </div>
</div>

<div style="background-color: black" class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <svg class="nav--logo collapsible__heading">
      <use xlink:href="images/sprite2.svg#logoSite-dark"></use>
    </svg>
    <svg class="collapsible--chevron">
      <use xlink:href="images/sprite-4-button.svg#justify-full"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    <ul class="list">
      <li><a href="#">About</a></li>
      <li><a href="#">Contact us</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">API</a></li>
    </ul>
  </div>
</div>
