<section class="footer-block">
  <div class="grid grid--1x4">
    <div class="collapsible__header">
      <svg class="">
        <use xlink:href="images/sprite2.svg#logoSite-dark"></use>
      </svg>
    </div>
    <div class="footer-block__item">
      <header>Compagny</header>
      <ul class="list">
        <li><a href="#">About</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">API</a></li>
      </ul>
    </div>
    <div class="footer-block__item">
      <header>Other tools</header>
      <ul class="list">
        <li><a href="#">Bulk image downloader</a></li>
        <li><a href="#">Google image downloader</a></li>
        <li><a href="#">Instagram image downloader</a></li>
        <li><a href="#">Pinterest image downloader</a></li>
      </ul>
    </div>
    <div class="footer-block__item">
      <header>legal</header>
      <ul class="list">
        <li><a href="#">Terms</a></li>
        <li><a href="#">Privacy</a></li>
      </ul>
    </div>
  </div>
  <p>Copyright © 2021. ImgDownloader All Rights Reserved.</p>
</section>
