<!--Input group with button-->
<div class="input-group">
  <input
    class="input"
    type="text"
    placeholder="https://pinterest.jp/pin/1242688353682/"
  />
  <button class="button button--outline">
    <svg class="icon">
      <use xlink:href="images/sprite2.svg#logo-google-black"></use>
    </svg>
    <p>Google</p>
    <span class="badge badge--green badge--small">bulk</span>
  </button>
</div>
<!--Input group with Icon-->

<div class="input-group">
  <input
    class="input"
    type="text"
    placeholder="https://pinterest.jp/pin/1242688353682/"
  />
  <span class="icon-container icon-search">
    <svg class="icon">
      <use xlink:href="images/sprite2.svg#logo-insta-black"></use>
    </svg>
  </span>
</div>
