<div class="list__line">
  <div class="list__line--logo">
    <img src="./images/check.svg" alt="" />
  </div>
  <div class="list__line--content">A savoir pour venir chez moi</div>
</div>
<div class="list__line">
  <div class="list__line--logo">
    <img src="./images/check.svg" alt="" />
  </div>
  <div class="list__line--content">A savoir pour venir chez moi</div>
</div>
<div class="list__line">
  <div class="list__line--logo">
    <img src="./images/check.svg" alt="" />
  </div>
  <div class="list__line--content">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
    saepe iste vel ipsum sunt facere quaerat amet necessitatibus culpa! Tenetur
    illo quis nihil, molestias accusantium autem. Ipsa maiores numquam porro?
  </div>
</div>
<div class="list__line">
  <div class="list__line--logo">
    <img src="./images/check.svg" alt="" />
  </div>
  <div class="list__line--content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt mollitia cum
    eaque rerum quasi nisi nobis esse accusamus quisquam alias dicta minus,
    nihil sint aliquid, repellat ea ad eveniet natus! Aperiam nihil cupiditate
    recusandae porro, suscipit laboriosam asperiores quae consequuntur cumque,
    distinctio quas quod veniam ut aliquid alias voluptatum illo.
  </div>
</div>
