<!--id: sticky to set to the first picture in order to stick-it-->

<section class="media-section">
  <div class="grid grid--1x2">
    <div id="sticky" class="media-section__image">
      <picture>
        <source srcset="./images/happy-static.webp 1x" type="image/webp" />
        <source srcset="./images/happy-static.png 1x" type="image/png" />
        <img src="./images/happy-static.png" alt="customer smiling" />
      </picture>
    </div>

    <div class="media-article">
      <div class="to-hide">
        <picture>
          <source srcset="./images/happy-static.webp 1x" type="image/webp" />
          <source srcset="./images/happy-static.png 1x" type="image/png" />
          <img src="./images/happy-static.png" alt="customer smiling" />
        </picture>
      </div>
      <article class="media">
        <div class="media__image">
          <span class="icon-container icon-google">
            <svg class="icon">
              <use xlink:href="images/sprite2.svg#logo-insta-black"></use>
            </svg>
          </span>
        </div>
        <div class="media__text">
          <h2 class="media--heading">Google Image Downloader</h2>
          <p class="media--text">
            Use Google’s image search and download images in bulk.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
            consequatur odio, repellendus id porro facilis ipsum asperiores
            quos, non, ad perspiciatis? Explicabo laboriosam deleniti minima.
            Assumenda nam ratione impedit. Excepturi.
          </p>
          <span class="media--line"></span>

          <span>
            <svg class="icon">
              <use xlink:href="images/sprite-3.svg#quotes"></use>
            </svg>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias
            omnis commodi recusandae odio, nisi quo provident adipisci eveniet
            repudiandae? Laboriosam veniam voluptates excepturi praesentium
            earum tempore, vitae odit quia nulla.
            <svg class="icon">
              <use xlink:href="images/sprite-3.svg#quotes-end"></use>
            </svg>
          </span>
        </div>
      </article>

      <article class="media">
        <div class="media__image">
          <span class="icon-container icon-google">
            <svg class="icon">
              <use xlink:href="images/sprite2.svg#logo-insta-black"></use>
            </svg>
          </span>
        </div>
        <div class="media__text">
          <h2 class="media--heading">Google Image Downloader</h2>
          <p class="media--text">
            Use Google’s image search and download images in bulk.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
            consequatur odio, repellendus id porro facilis ipsum asperiores
            quos, non, ad perspiciatis? Explicabo laboriosam deleniti minima.
            Assumenda nam ratione impedit. Excepturi.
          </p>
          <span class="media--line"></span>

          <span>
            <svg class="icon">
              <use xlink:href="images/sprite-3.svg#quotes"></use>
            </svg>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias
            omnis commodi recusandae odio, nisi quo provident adipisci eveniet
            repudiandae? Laboriosam veniam voluptates excepturi praesentium
            earum tempore, vitae odit quia nulla.
            <svg class="icon">
              <use xlink:href="images/sprite-3.svg#quotes-end"></use>
            </svg>
          </span>
        </div>
      </article>

      <article class="media">
        <div class="media__image">
          <span class="icon-container icon-google">
            <svg class="icon">
              <use xlink:href="images/sprite2.svg#logo-insta-black"></use>
            </svg>
          </span>
        </div>
        <div class="media__text">
          <h2 class="media--heading">Google Image Downloader</h2>
          <p class="media--text">
            Use Google’s image search and download images in bulk.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
            consequatur odio, repellendus id porro facilis ipsum asperiores
            quos, non, ad perspiciatis? Explicabo laboriosam deleniti minima.
            Assumenda nam ratione impedit. Excepturi.
          </p>
          <span class="media--line"></span>

          <span>
            <svg class="icon">
              <use xlink:href="images/sprite-3.svg#quotes"></use>
            </svg>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias
            omnis commodi recusandae odio, nisi quo provident adipisci eveniet
            repudiandae? Laboriosam veniam voluptates excepturi praesentium
            earum tempore, vitae odit quia nulla.
            <svg class="icon">
              <use xlink:href="images/sprite-3.svg#quotes-end"></use>
            </svg>
          </span>
        </div>
      </article>
    </div>
  </div>
</section>
