<!--Fisrt div in style, style to be removed-->

<div style="width: 50vw" class="media">
  <div class="media__image">
    <span class="icon-container icon-google">
      <svg class="icon">
        <use xlink:href="images/sprite2.svg#logo-insta-black"></use>
      </svg>
    </span>
  </div>
  <div class="media__text">
    <h2 class="media--heading">Google Image Downloader</h2>
    <p class="media--text">
      Use Google’s image search and download images in bulk.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
      consequatur odio, repellendus id porro facilis ipsum asperiores quos, non,
      ad perspiciatis? Explicabo laboriosam deleniti minima. Assumenda nam
      ratione impedit. Excepturi.
    </p>
    <span class="media--line"></span>

    <span>
      <svg class="icon">
        <use xlink:href="images/sprite-3.svg#quotes"></use>
      </svg>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias omnis
      commodi recusandae odio, nisi quo provident adipisci eveniet repudiandae?
      Laboriosam veniam voluptates excepturi praesentium earum tempore, vitae
      odit quia nulla.
      <svg class="icon">
        <use xlink:href="images/sprite-3.svg#quotes-end"></use>
      </svg>
    </span>
  </div>
</div>
