<!--Here the nav-bar with the collapsible component-->

<div class="nav collapsible">
  <header class="collapsible__header">
    <svg class="nav--logo collapsible__heading">
      <use xlink:href="images/sprite2.svg#logoSite-dark"></use>
    </svg>
    <svg class="collapsible--chevron">
      <use xlink:href="images/sprite-4-button.svg#justify-full"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    <ul class="list list--inline">
      <li class=""><a class="" href="#">Online</a></li>
      <li class=""><a class="" href="#">App</a></li>
      <li class=""><a class="" href="#">For Win/Mac</a></li>
      <li class=""><a class="" href="#">Tutorial</a></li>
      <li class=""><a class="" href="#">Pricing</a></li>
      <li class=""><a class="" href="#">Langages</a></li>
    </ul>
  </div>
  <button class="button button--blue sign-in" href="#">Sign in</button>
</div>
