<!--Fisrt div for styling-->
<div style="width: 33%">
  <!--plan starting here-->
  <div class="plan plan--middle">
    <header class="plan__header">
      <div class="plan__heading">
        <h3>Free</h3>
        <h3 class="plan__price">
          <div class="plan__amount">0</div>
          <div class="plan__currency">$</div>
        </h3>
      </div>
      <button class="button button--dark button--adaptable" href="#">
        Create Free Account
      </button>
    </header>
    <div class="plan__body">
      <ul class="list">
        <li>
          <div class="list__line">
            <div class="list__line--logo">
              <img src="./images/check.svg" alt="" />
            </div>
            <div class="list__line--content">Basic features : Unlimited</div>
          </div>
        </li>
        <li>
          <div class="list__line">
            <div class="list__line--logo">
              <img src="./images/check.svg" alt="" />
            </div>
            <div class="list__line--content">Bulk features : 8 Credits</div>
          </div>
        </li>
        <li>
          <div class="list__line">
            <div class="list__line--logo">
              <img src="./images/check.svg" alt="" />
            </div>
            <div class="list__line--content">
              Preview all images from a webpage
            </div>
          </div>
        </li>
        <li>
          <div class="list__line">
            <div class="list__line--logo">
              <img src="./images/check.svg" alt="" />
            </div>
            <div class="list__line--content">
              Bulk Download 50 images from Search Engine each time
            </div>
          </div>
        </li>
        <li>
          <div class="list__line">
            <div class="list__line--logo">
              <img src="./images/check.svg" alt="" />
            </div>
            <div class="list__line--content">
              Download one image from Instagram each time
            </div>
          </div>
        </li>
        <li>
          <div class="list__line">
            <div class="list__line--logo">
              <img src="./images/check.svg" alt="" />
            </div>
            <div class="list__line--content">*24 Email Support</div>
          </div>
        </li>
        <li>
          <div class="list__line">
            <div class="list__line--logo">
              <img src="./images/check.svg" alt="" />
            </div>
            <div class="list__line--content">No payment and credit card</div>
          </div>
        </li>
        <li>
          <div class="list__line">
            <div class="list__line--logo">
              <img src="./images/check.svg" alt="" />
            </div>
            <div class="list__line--content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor,
              ipsum.
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
