<!--this component is the bow two of the search bar-->

<div class="small-media-block">
  <section class="small-media-section container">
    <div class="grid grid--2x3">
      <!--small-media-->
      <!--Style thistle color to be removed-->

      <div class="image-media">
        <svg>
          <use
            xlink:href="images/sprite-6.svg#supporting-business-person-svgrepo-com"
          ></use>
        </svg>
      </div>

      <article class="small-media">
        <div class="media__image">
          <span class="icon-container icon-google">
            <svg class="icon">
              <use xlink:href="images/sprite2.svg#logo-insta-black"></use>
            </svg>
          </span>
        </div>
        <div class="media__text">
          <h4 class="media--heading">Website Image Downloader</h4>
          <p class="media--text">
            Use Google’s image search and download images
          </p>
        </div>
      </article>

      <article class="small-media">
        <div class="media__image">
          <span class="icon-container icon-google">
            <svg class="icon">
              <use xlink:href="images/sprite2.svg#logo-insta-black"></use>
            </svg>
          </span>
        </div>
        <div class="media__text">
          <h4 class="media--heading">Website Image Downloader</h4>
          <p class="media--text">
            Use Google’s image search and download images
          </p>
        </div>
      </article>

      <article class="small-media">
        <div class="media__image">
          <span class="icon-container icon-google">
            <svg class="icon">
              <use xlink:href="images/sprite2.svg#logo-insta-black"></use>
            </svg>
          </span>
        </div>
        <div class="media__text">
          <h4 class="media--heading">Website Image Downloader</h4>
          <p class="media--text">
            Use Google’s image search and download images
          </p>
        </div>
      </article>

      <article class="small-media">
        <div class="media__image">
          <span class="icon-container icon-google">
            <svg class="icon">
              <use xlink:href="images/sprite2.svg#logo-insta-black"></use>
            </svg>
          </span>
        </div>
        <div class="media__text">
          <h4 class="media--heading">Website Image Downloader</h4>
          <p class="media--text">
            Use Google’s image search and download images
          </p>
        </div>
      </article>
    </div>
  </section>
</div>
